
.arrow {
    position: absolute;
    border-radius: 3px;
    font-size: 3em;
    
    background: white;
    padding: 5px;
    top: 40%;
  }
  
  .arrow:hover {
    background: #869791;
    color: #fff;
   
  }
  
  .next {
    right: 25px;
  }
  
  .prev {
    left: 10px;
  }